credentials:
  openstack:
    default-region: RegionOne
    admin:
      auth-type: userpass
      domain-name: ""
      password: '{{ admin_password }}'
      tenant-name: admin
      user-domain-name: admin_domain
      project-domain-name: "admin_domain"
      username: "admin"

